#main {
  padding: initial !important;
}

.aio-icon-box {
  display: flex;
  align-items: center;
}

.left-icon .aio-icon-description, .left-icon .aio-icon-header {
  margin-top: initial;
  font-size: 14px;
  line-height: 16px;
}

.aio-icon-component, .wpb_column > .wpb_wrapper .aio-icon-component {
  margin-bottom: initial;
}

#phantom.show-phantom .logo-box {
  padding: 10px 0;
}

.whatsapp a {
  background: #2ad867 !important;
  color: #000 !important;
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 20px;
  width: 100%;
  transition: 0.3s;
}
.whatsapp a:hover {
  opacity: 0.6;
}

.email a {
  background: #000 !important;
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 20px;
  width: 100%;
  transition: 0.3s;
}
.email a span {
  color: #fff !important;
}
.email a:hover {
  opacity: 0.6;
}

.telefone a {
  background: #c30c21 !important;
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 20px;
  width: 100%;
  transition: 0.3s;
}
.telefone a span {
  color: #fff !important;
}
.telefone a:hover {
  opacity: 0.6;
}

.color-preta a {
  color: #000 !important;
  transition: 0.3s;
  text-decoration: none;
}
.color-preta a:hover {
  opacity: 0.6;
}

.vc_toggle_icon {
  display: none !important;
}

.vc_toggle_title h4::after {
  content: "+";
  margin-left: 10px;
  color: red;
  font-size: 1.5rem;
}

.vc_toggle_size_md.vc_toggle_default .vc_toggle_content, .vc_toggle_size_md.vc_toggle_default .vc_toggle_title {
  padding-left: initial;
}

#footer {
  display: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 50px;
}

.fundo {
  background: #000000;
}

.footer-novo {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 50px 0;
}
@media (max-width: 768px) {
  .footer-novo {
    flex-direction: column;
  }
}
.footer-novo h3 {
  color: #fff;
}
.footer-novo .menu a {
  color: #fff !important;
  text-decoration: none !important;
  transition: 0.3s;
  margin-right: 5px;
  display: inline-block;
}
.footer-novo .menu a:hover {
  color: #c30c21 !important;
}

img.mobile-logo.preload-me {
  width: 100px;
}

a.sticky-mobile-logo-second-switch img {
  width: 100px;
}

.infos .item, .infos .item-inline {
  margin-bottom: 20px;
}
.infos .item h3, .infos .item-inline h3 {
  font-size: 1.2rem;
  margin-bottom: initial !important;
}
.infos .item p, .infos .item-inline p {
  font-size: 0.9rem;
  margin-bottom: initial;
}

.item-inline {
  margin-bottom: initial !important;
  display: flex;
  gap: 5px;
  align-items: center;
}
.item-inline h3 {
  margin-bottom: initial;
}

.formulario .linha p {
  display: flex;
  gap: 10px;
}

input.wpcf7-form-control, textarea.wpcf7-form-control.wpcf7-textarea, input.wpcf7-form-control.has-spinner.wpcf7-submit {
  border-radius: 10px;
  font-size: 16px;
}
input.wpcf7-form-control::-moz-placeholder, textarea.wpcf7-form-control.wpcf7-textarea::-moz-placeholder, input.wpcf7-form-control.has-spinner.wpcf7-submit::-moz-placeholder {
  font-size: 16px !important;
}
input.wpcf7-form-control::placeholder, textarea.wpcf7-form-control.wpcf7-textarea::placeholder, input.wpcf7-form-control.has-spinner.wpcf7-submit::placeholder {
  font-size: 16px !important;
}

input.wpcf7-form-control.has-spinner.wpcf7-submit {
  width: 100%;
  transition: 0.3s;
}
input.wpcf7-form-control.has-spinner.wpcf7-submit:hover {
  background: #c30c21 !important;
  opacity: 0.6;
}

.buscar-exame #form_laudos {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  padding: 20px;
  padding-top: 10px;
  margin: 0 10px;
}
.buscar-exame #form_laudos .titulo {
  text-align: center;
  font-weight: bold;
}
.buscar-exame #form_laudos button {
  background: #c30c21;
  color: #fff;
  border: none;
  padding: 10px;
}

.dt-mobile-header .buscar-exame {
  margin-top: 20px;
}
.dt-mobile-header .buscar-exame #form_laudos {
  margin: initial;
}/*# sourceMappingURL=estilo.css.map */